body { padding-top: 70px; }
.banner { padding-bottom: 15px; }
.card { margin-bottom: 1rem; }
.address { color: #666; }
.facilities .badge { margin-right: 4px; }
.reviewAuthor { margin: 0 0.5rem; font-weight: bold; }
.review { margin-bottom: 1rem; }
footer { margin: 2rem 0; }
